{% load static %}
{% block body %}

{% include 'html/user_navigation.html' %}

<style>
	.marquee{
		font-family: Algerian;
		font-size: 25px;
		color: rgb(0, 0, 0); 
		font-weight: bold;
		text-align: center;
		margin: 10px;


	}
</style>

<script>
	function checkpass() {
		if(document.changepassword.newpassword.value != document.changepassword.confirmpassword.value )
		{
			alert('New Password and Confirm password doesnot match');
			document.changepassword.confirmpassword.focus();
			return false;
		}
		return true;
	}
</script>
<h4 class="marquee">
	Change Password.. 
</h4>
<hr>
<form class="container mt-5" method="POST" name="changepassword" onsubmit="return checkpass()">
	{% csrf_token %}
	<label><b>Current Password</b></label>
	<input type="password" class="form-control" name="currentpassword" required="true">

	<label><b>New Password</b></label>
	<input type="password" class="form-control" name="newpassword" required="true">

	<label><b>Confirm New Password</b></label>
	<input type="password" class="form-control" name="confirmpassword" required="true">
	
	<input type="submit" value="Submit"class= "btn btn-primary" style="margin-top: 2%;font-weight:bold;
	color: rgb(252, 252, 252);background-color: rgb(53, 99, 252) ; height: 40px; font-size: 20px" >
</form>
{% ifequal error "no" %}
<script>
	alert("Password changed Successfully");
	window.location = ('{% url 'Logout' %}') 
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
	alert("Something went wrong, try again ..........");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
	alert("Your current Password is wrong........");
</script>
{% endifequal %}

{% include 'html/footer.html' %}

{% endblock %}
