{% load static %}

{% block body %}

{% include 'html/navbar.html' %}
<style>

	.marquee{
		font-family: Algerian;
		font-size: 25px;
		color: rgb(0, 0, 0); 
		font-weight: bold;
		text-align: center;
		margin: 10px;


	}
#form{

}
</style>
<h4 class="marquee">Recruiter Login</h4>
<hr>
<form class="container mt-5" method="POST">
	{% csrf_token %}
	<label><b>Email Id</b></label>
	<input type="email" class="form-control" name="uname" placeholder="Enter Email">
	<label><b>Password</b></label>
	<input type="password" class="form-control" name="pwd" placeholder="Enter password">
	<input type="submit" value="Login" class= "btn btn-primary" style="margin-top: 2%;font-family:bold;color:
	 rgb(252, 252, 252);background-color: rgb(53, 99, 252) ; height: 40px; font-size: 20px" >
	<a href="{% url 'recruiter_signup' %}" class = "btn btn-primary" style="margin-top: 2%;font-family:bold;color:
	 rgb(252, 252, 252);background-color: rgb(53, 99, 252) ; height: 40px; font-size: 20px">Create an Account</a>
</form>

{% ifequal error "no" %}
<script>

    alert("Login Successfully");
    window.location = ('{% url 'recruiter_home' %}') 
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Invalid login Credentials ,Try Again...");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
	alert("Request Status pending.......");
</script>
{% endifequal %}

{% endblock %}