{% load static %}

{% block body %}

{% include 'html/user_navigation.html' %}
<style>
	.marquee{
		font-family: Algerian;
		font-size: 25px;
		color: rgb(0, 0, 0); 
		font-weight: bold;
		text-align: center;
		margin: 10px;
		
	}

    tr{text-align: center;}
</style>
<h4 class="marquee">
	job pool
</h4>
<hr>
<div class="container">
<table class="table table-hover" id="example">
	<thead>
		<tr style = "background-color: #3E3FA0;color:white">
			<th>S.no</th>
			<th>Job Title</th>
			<th>Salary</th>
			<td>Company</td>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for i in job %}
		<tr style = "color:black;font-size:15px">
			<td>{{forloop.counter}}</td>
			<td>{{i.title}}</td>
			<td>{{i.salary}}</td>
			<td>{{i.company}}</td>
            <td><a href="{% url 'apply_job' i.id %}" class="btn btn-success btn-sm " >Apply</a>
            

		</tr>
		{% endfor %}
	</tbody>
</table>
</div>

{% include 'html/footer.html' %}

{% endblock %}
