{% load static %}

{% block body %}

{% include 'html/navbar.html' %}
<style>

	.marquee{
		font-family: Algerian;
		font-size: 25px;
		color: rgb(0, 0, 0); 
		font-weight: bold;
		text-align: center;
		margin: 10px;


	}

</style>
<script>
	function checkpass()
	{
		if(document.signup.pwd.value != document.signup.cpwd.value)
		{
			alert('Password and confirm password are not same');
			document.signup.cpwd.focus();
			return false;
		}
		return true;
	}
</script>
<h4 class="marquee">Create User Account</h4>

<hr>
<form class="container mt-5" onsubmit="return checkpass()" name="signup" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-row">
		<div class="form-group col-md-6">
			<label>First Name</label>
			<input type="text" class=" form-control" name="fname" placeholder="Enter FirstName" required>
		</div>
		<div class="form-group col-md-6">
			<label>Last Name</label>
			<input type="text" class=" form-control" name="lname" placeholder="Enter LastName" required>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label>Contact</label>
			<input type="text" class=" form-control" name="contact" placeholder="Enter contact" required>
		</div>
		<div class="form-group col-md-6">
			<label>Email</label>
			<input type="text" class=" form-control" name="email" placeholder="Enter Email Id" required>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label>Department</label>
			<input type="text" class=" form-control" name="dept" placeholder="Enter Department" required>
		</div>
		<div class="form-group col-md-6">
			<label>Percentage</label>
			<input type="text" class=" form-control" name="percent" placeholder="Enter Percentage" required>
		</div>
	</div>
	
	<div class="form-row">
		<div class="form-group col-md-6">
			<label>Password</label>
			<input type="password" class=" form-control" name="pwd" placeholder="Enter Password" required>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-6">
			<label>Confirm Password</label>
			<input type="password" class=" form-control" name="cpwd" placeholder="Confirm Password" required>
		</div>
	</div>
	
	<div class="form-row">
		<div class="form-group col-md-6">
			<label>Gender</label>
			<div style="border:1px solid rgb(255, 255, 255) ; padding: 6px;border-radius: 6px">
			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male">
				<label class="custom-control-label" for="customRadioInline1">Male</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female">
				<label class="custom-control-label" for="customRadioInline2">Female</label>
			</div>
		</div>
	</div>
		<div class="form-group col-md-6">
			<label>Image</label>
			<input type="file" class=" form-control" name="image"  style="padding:0%" required>
		</div>
	</div>
	<input type="submit" value="Create Account" class="btn btn-primary my-3" style="width: 200px">
</form>
{% include 'html/footer.html' %}
{% ifequal error "no" %}
<script>
	alert("SignUp Successful");
	window.location=('{% url 'user_login' %}')
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
	alert("Something went wrong, try again........");
</script>
{% endifequal %}
{% endblock %}